{% extends 'base.html' %}

{% block head %}
    <style>
        .active-dodaj {
            font-weight: 400;
        }

        @media screen and (max-width: 600px) {
            .active-dodaj {
                font-weight: 500;
            }
        }

        @media screen and (max-width: 600px) {
            .active-dodaj {
                font-weight: 500;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <p>DODAJ DO BAZY</p>
          <form action="#" method="POST">
            <input type="text" id="fname" name="slowo" placeholder="wpisz słowo" value="{{ slowo }}">

            <br>
            <input type="submit" value="tłumacz">
        </form>
    {%  if status %}
        Gratulacje dodałeś słówko {{ slowko }} do bazy danych!
    {% endif %}
    </div>

{% endblock %}
