{% extends 'base.html' %}
{% block head %}
    <style>
        .active-index {
            font-weight: 400;
        }
    @media screen and (max-width: 600px) {
            .active-index {
                font-weight: 500;
            }
        }

        @media screen and (max-width: 600px) {
            .active-index {
                font-weight: 500;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <form action="#" method="POST">
            <input type="text" id="fname" name="slowo" placeholder="wpisz słowo" value="{{ slowo }}">

            <input type="text" id="lname" name="tlumaczenie" value="{{ tlumaczenie }}" >

            {# {% if result is defined %}
                    <input type="text" id="lname" name="tlumaczenie" value="{{ tlumaczenie }}" >
                {% else %}
                    <input type="text" id="lname" name="tlumaczenie" placeholder="[ tłumaczenie ]">
                {% endif %}
               #}



            <br>
            <input type="submit" value="tłumacz">
        </form>

    </div>
{% endblock %}

