{% extends 'base.html' %}
{% block head %}
    <style>
        footer {
        margin-top: 200px;
        }

        @media screen and (max-width: 1200px) {
            footer {
        margin-top: 150px;

            }
        }

        @media screen and (max-width: 800px) {
            footer {
        margin-top: 100px;

            }
        }


        @media screen and (max-width: 600px) {
            footer {
        margin-top: 50px;

            }
        }

        .active-index {
            font-weight: 400;
        }

        @media screen and (max-width: 600px) {
            .active-index {
                font-weight: 500;
            }
        }

        @media screen and (max-width: 600px) {
            .active-index {
                font-weight: 500;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <p class="tytul">&nbsp &nbsp</p>

        <form action="#" method="POST">
            <input type="text" id="fname" name="slowo" placeholder="wpisz słowo" value="{{ slowo }}">

            <input type="text" id="lname" name="tlumaczenie" placeholder="[ tłumaczenie ]" value="{{ tlumaczenie }}">
            <br>
            <br>
            <input type="submit" value="&nbsp &nbsp tłumacz &nbsp &nbsp">
        </form>
        <div class="status">
            {% if status %}
                <span class="niebieskie"><b>{{ slowo }}</b></span> nie jest słowem lub nie jest pojedynczym słowem.
            {% endif %}

        </div>
    </div>
{% endblock %}

